<html>
<head> 
<title>Checkist</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="&nbsp;"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="/script.js"></script>
	<link href="/bootstrap.min.css" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">
</head>

<body>
<div class="container">

<form action ="/addtask" method="POST">

<div class="input-group mb-3" style="width: 100%">

  <div class="input-group-prepend">
    <button formaction="/refresh" class="btn btn-secondary" type="submit" id="top">Refresh</button>
  </div>
    
  <input style="flex: 1 1 auto; padding-left: 5px" type="text" name="newtask" placeholder="Add new task.." autofocus>
    
  <div class="input-group-append">
	<button class="btn btn-success input-group-btn" type="submit" id="top">Add Task</button>
  </div>
  
</div>

</form>

<% if (task.length > 0) { %>
<h3>Todo</h3>

<form action ="/removetask" method="POST">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Task</th>
	  <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
	<% for( var i = 0; i < task.length; i++){ %>
	<tr id="trtask<%= i %>" class="table-light" onclick="clickListItem('task<%= i %>');">
		<td scope="row"><%= task[i] %><input style="display: none" id="task<%= i %>" type="checkbox" name="check" value="<%= task[i] %>" /></td>
		<td>
		</td>
    </tr>
	<% } %>
  </tbody>
</table> 

<div class="text-right">
<button class="btn btn-success" type="submit" id="top">Finish</button>
</div>

</form>

<% } %>

<% if (complete.length > 0) { %>
<h3>Completed</h3>

<form action ="/redotask" method="POST">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Task</th>
	  <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
	<% for( var i = 0; i < complete.length; i++){ %>
	<tr id="trcomplete<%= i %>" class="table-light" onclick="clickListItem('complete<%= i %>');">
      <td scope="row"><%= complete[i] %><input style="display: none" id="complete<%= i %>" type="checkbox" name="check" value="<%= complete[i] %>" /></td>
	  <td><span><%= helper.getTimeDiff(datecomplete[i]); %></span></td>
    </tr>
	<% } %>
  </tbody>
</table> 

<div class="text-left">
<button formaction="/deletetask" class="btn btn-danger" type="submit" id="top">Delete</button>
<button class="btn btn-primary float-right" type="submit" id="top">Redo</button>
</div>

</form>
<% } %>

</div>

</body>
</html>
